@*the @ symbols indicated that there's c# code to be evaluated during
    the rendering of this view.

    @model, indicate what's this view is going to work with in terms of
    the data that is pass into it whch is Inumerable of a product
    use using statement because you don't want to wrote globalantics.domains.models
    .product
*@

@* 
clean up and remove the depndency for the product    
@using Globomantics.Domain.Models;
@model IEnumerable<Product> *@


@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
              
                @*Loading the component can be done in two different ways , either with taghelpers, or a type of syntax, 
                    use c# code, call Component, invoke async specify ocmpnent name, which will invoke the product list.
                    this will find the component, create an instance of itand invoked method async,
                    you can also optionally pass data into the view component
                *@

                @await Component.InvokeAsync("ProductList"); 

            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                TBA: Shopping Cart
            </div>
        </div>
    </div>

</div>